/*

Figure & Figcaption
===================

<figure>
	<img alt="" src="img/tmp/rock-hammer-1.jpg">
	<figcaption>Figure caption</figcaption>
</figure>

*/

// TODO: Need to work on this

figure {

}

figure > img {

}

figcaption {

}