/*

Wells
==============

<div class="well">
	<p>This is a well</p>
</div>

*/

.well {
	@include remit(margin-bottom, $base-line-height);

	background-color: $white;
	border: 1px solid $black;
	border-radius: $radius-small;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: $base-font-size;
}