/*

Styles
==============

Importing styles

*/

// Functions
@import "base/functions"; // TODO: Does this need to be here first

// Mixins
@import "base/mixins";

// Gridset
@import "partials/layout/gridset"; // TODO: Does this need to be here

// Font Stacks
@import "base/fonts";

// Variables
@import "variables";

// Normalize
@import "base/reset";

// Helpers
@import "base/helpers";

// -------------------------------------
//		Import some partials
// -------------------------------------

// Images
@import "partials/images/images";
@import "partials/images/base64";
@import "partials/images/figure";

// Colors
@import "partials/colors/_colors";

// Layout
// @import "partials/layout/gridset";
@import "partials/layout/base";
@import "partials/layout/header";
@import "partials/layout/main";
@import "partials/layout/aside";
@import "partials/layout/footer";
@import "partials/layout/article";

// Typography
@import "partials/typography/headings";
@import "partials/typography/body-copy";
@import "partials/typography/copy-classes";
@import "partials/typography/links";
@import "partials/typography/blockquote";
@import "partials/typography/misc";
@import "partials/typography/code";
@import "partials/typography/scoped";

// Lists
@import "partials/lists/ul";
@import "partials/lists/ol";
@import "partials/lists/dl";

// Navigation
@import "partials/navigation/nav";
@import "partials/navigation/pagination";
@import "partials/navigation/breadcrumbs";

// Components
@import "partials/components/alerts";
@import "partials/components/horizontal-rules";
@import "partials/components/jumbotron";
@import "partials/components/labels";
@import "partials/components/panels";
@import "partials/components/wells";

// Tables
@import "partials/tables/table";

// Media Object
@import "partials/media-object/media-object";

// Buttons
@import "partials/buttons/buttons";

// Forms
@import "partials/forms/big-form";
@import "partials/forms/search-form";

// Modules
@import "partials/modules/modules";

// Widgets
@import "partials/widgets/widgets";

// Specimen
@import "base/specimen";

//***********************************//

// -------------------------------------
//		Scratch
//
//		This must be at the end of this import file
// -----------------------------------------------------------

@import "partials/site-specific/scratch";

// -------------------------------------
//		Workbench
//
//		This is for the SCSS that needs fixing
// ------------------------------------------------------

@import "partials/site-specific/shame";

// Print styles
@import "base/print";

// DEBUG mode
$debugMode: false;

@import "base/debug";