/*

Specimen
============

*/

body.specimen {
	aside {
		clear: both;
		@include gs-media(d,min) {
			@include gs-span(d,1,4,(1,16));
		}
		background: $charcoal;

	}
	main {
		@include gs-media(d,min) {
			clear: both;
			@include gs-span(d,all);
		}

	}
	article.block {
		@include gs-span(m,all);
		@include gs-media(d,min) {
			&:nth-of-type(2n+1) {
				@include gs-span(d,1,8,(1,16));
			}
			&:nth-of-type(2n+2) {
				clear: none;
				@include gs-span(d,9,16,(1,16));
			}
		}
	}
}
