/*

Base
==============

HTML, BODY, #wrapper styles

*/

html {
// 	@include baseline-guide;
}

body {

	background-image: inline-image('../img/body.png');
	min-width: 260px;
	overflow-x: hidden;
	width: 100%;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	@include clear;
}

