/*

Blockquote
==============

<blockquote>
	<p>You can put a cat in an oven, but that don't make it a biscuit.</p>
</blockquote>

*/

blockquote {
	padding: rem($rhythm-unit);
	margin: 0 0 rem($rhythm-unit);
	font-size: $blockquote-font-size;
	border-left: $blockquote-border-size $blockquote-border-style $blockquote-border-color;
	p,
	ul,
	ol {
		@include font-size($base-font-size, $line-height: true, $margin-bottom: true);
	}
	cite {
		display: block;
		@include font-size($font-size-small, $line-height: true, $margin-bottom: false);
		color: $blockquote-cite-color;
		&:before {
		  content: '\2014 \00A0'; // em dash, nbsp
		}
	}
}