{% layout "specimen" %}

{% block content %}
<!-- TODO: Add a scripts.html file to load jQuery plugins in, see Rock Hammer for example -->

<article class="block">
	<section class="panel">
		<header class="panel__heading">
			<h2>Modules</h2>
		</header>
		<div class="panel__body">
			<ul>
				<li><a href="typography">Typography</a></li>
			</ul>
		</div>
	</section>
</article>
<article class="block">
	<section class="panel">
		<header class="panel__heading">
			<h2>Templates</h2>
		</header>
		<div class="panel__body">
			<ul>
				<li><a href="typography">Typography</a></li>
			</ul>
		</div>
	</section>
</article>
	<!-- TODO: Create my project :-) -->
{% endblock %}