/*

Colors
==============

This is for a color-swatch, requires Compass at the moment.

<ul class="swatch theme-colors">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

*/

// TODO: re-visit this

.swatch {
	clear: both;
	float: left;
	max-width: 640px;
	li {
		border: 1px solid black;
		float: left;
		height: 5em;
		list-style: none;
		margin: 0 0 0 0;
		width: 5em;
	}
}

.theme-colors {
	li {
		background-color: $brand-primary;
		&:nth-child(2) {
			background-color: $brand-secondary;
		}
		&:nth-child(3) {
			background-color: $brand-tertiary;
		}
		&:nth-child(4) {
			background-color: $alt-1;
		}
		&:nth-child(5) {
			background-color: $alt-2;
		}
		&:nth-child(6) {
			clear: both;
			background-color: $white;
		}
		&:nth-child(7) {
			background-color: $black;
		}
	}
}

